/* <reset.css> */
@font-face {
    font-family: 'UTMNokia';
    src: url('../../fonts/UTMNokia/utm_nokia-webfont.woff2') format('woff2'),
         url('../../fonts/UTMNokia/utm_nokia-webfont.woff') format('woff');
    font-weight: normal;
}
 @font-face {
    font-family: 'Roboto';
    src: url("../../fonts/Roboto/Roboto-Regular.eot");
    src: url("../../fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../../fonts/Roboto/Roboto-Regular.ttf") format("truetype"), url("../../fonts/Roboto/Roboto-Regular.svg#svgFontName") format("svg");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url("../../fonts/Roboto/Roboto-Bold.eot");
    src: url("../../fonts/Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../../fonts/Roboto/Roboto-Bold.ttf") format("truetype"), url("../../fonts/Roboto/Roboto-Bold.svg#svgFontName") format("svg");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url("../../fonts/Roboto/Roboto-Medium.eot");
    src: url("../../fonts/Roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto/Roboto-Medium.woff") format("woff"), url("../../fonts/Roboto/Roboto-Medium.ttf") format("truetype"), url("../../fonts/Roboto/Roboto-Medium.svg#svgFontName") format("svg");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Light';
    src: url("../../fonts/Roboto/Roboto-Light.eot");
    src: url("../../fonts/Roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto/Roboto-Light.woff") format("woff"), url("../../fonts/Roboto/Roboto-Light.ttf") format("truetype"), url("../../fonts/Roboto/Roboto-Light.svg#svgFontName") format("svg");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'UTMImpact';
    src: url('../../fonts/UTMImpact/utm_impact-webfont.woff2') format('woff2'),
         url('../../fonts/UTMImpact/utm_impact-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UTM Swiss';
    src: url('../../fonts/UTM Swiss 721 Black Condensed Regular/utm_swiss_721_black_condensed-webfont.eot');
    src: url('../../fonts/UTM Swiss 721 Black Condensed Regular/utm_swiss_721_black_condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/UTM Swiss 721 Black Condensed Regular/utm_swiss_721_black_condensed-webfont.woff2') format('woff2'),
         url('../../fonts/UTM Swiss 721 Black Condensed Regular/utm_swiss_721_black_condensed-webfont.woff') format('woff'),
         url('../../fonts/UTM Swiss 721 Black Condensed Regular/utm_swiss_721_black_condensed-webfont.ttf') format('truetype'),
         url('../../fonts/UTM Swiss 721 Black Condensed Regular/utm_swiss_721_black_condensed-webfont.svg#utm_swiss_721_black_condensRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UTMAmericanSans';
    src: url('../../fonts/UTMAmericanSans/utm_american_sans-webfont.woff2') format('woff2'),
         url('../../fonts/UTMAmericanSans/utm_american_sans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UTMAndrogyne';
    src: url('../../fonts/UTMAndrogyne/utm_androgyne-webfont.woff2') format('woff2'),
         url('../../fonts/UTMAndrogyne/utm_androgyne-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UTM Neutra';
    src: url('../../fonts/UTM Neutra/UTM Neutra.ttf') format('truetype');
}
@font-face {
    font-family: 'SFUFuturaBold';
    src: url('../../fonts/SFUFutura/SFUFuturaBold.ttf') format('truetype');
}

@font-face {
    font-family: 'TPBaomoi';
    src: url('../../fonts/TPBaomoi/Baomoi_gdi.eot?v=1');
    src: local('Ä‚Â¢Ă‹Å“Ă‚Âº'),
    url('../../fonts/TPBaomoi/Baomoi_gdi.eot?#iefixv=1') format('embedded-opentype'),
    url('../../fonts/TPBaomoi/Baomoi_gdi.woff?v=1') format('woff'),
    url('../../fonts/TPBaomoi/Baomoi_gdi.ttf?v=1') format('truetype');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'TPBaomoi';
    src: url('../../fonts/TPBaomoi/Baomoi-Italic_gdi.eot?v=1');
    src: local('Ä‚Â¢Ă‹Å“Ă‚Âº'),
    url('../../fonts/TPBaomoi/Baomoi-Italic_gdi.eot?#iefixv=1') format('embedded-opentype'),
    url('../../fonts/TPBaomoi/Baomoi-Italic_gdi.woff?v=1') format('woff'),
    url('../../fonts/TPBaomoi/Baomoi-Italic_gdi.ttf?v=1') format('truetype');
    font-weight: 400;
    font-style: italic
}
@font-face {
    font-family: 'TPBaomoi';
    src: url('../../fonts/TPBaomoi/Baomoi-SemiBold_gdi.eot?v=1');
    src: local('Ä‚Â¢Ă‹Å“Ă‚Âº'),
    url('../../fonts/TPBaomoi/Baomoi-SemiBold_gdi.eot?#iefixv=1') format('embedded-opentype'),
    url('../../fonts/TPBaomoi/Baomoi-SemiBold_gdi.woff?v=1') format('woff'),
    url('../../fonts/TPBaomoi/Baomoi-SemiBold_gdi.ttf?v=1') format('truetype');
    font-weight: 700;
    font-style: normal
}
@font-face {
    font-family: 'TPBaomoi';
    src: url('../../fonts/TPBaomoi/Baomoi-SemiBoldItalic_gdi.eot?v=1');
    src: local('Ä‚Â¢Ă‹Å“Ă‚Âº'),
    url('../../fonts/TPBaomoi/Baomoi-SemiBoldItalic_gdi.eot?#iefixv=1') format('embedded-opentype'),
    url('../../fonts/TPBaomoi/Baomoi-SemiBoldItalic_gdi.woff?v=1') format('woff'),
    url('../../fonts/TPBaomoi/Baomoi-SemiBoldItalic_gdi.ttf?v=1') format('truetype');
    font-weight: 700;
    font-style: italic
}
html, body {
    min-height: 100%;
}
body {
    position: relative;
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    color: #222;
    line-height: 1.6em;
    /*background-image: url('/img/body-bg.jpg')*/
}
@media (min-width: 1220px) {
    .uk-container {
        max-width: 1170px;
        padding: 0;
    }
}
@media (max-width: 1220px) {
    .uk-container {
        padding: 0 10px;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 10px 0;
    font-size: 16px;
    line-height: 20px;
}
*, :before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
a, img {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
:before, :after {font-weight: normal;}
.uk-modal-close.uk-close {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0px;
    right: 0px;
    opacity: 1;
    background: #fff url(../images/icon-close.png) center no-repeat;
    -webkit-background-size: 32px;
    -moz-background-size: 32px;
    background-size: 32px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    z-index: 1020;
}
.uk-modal-close.uk-close:after {display: none;}
.uk-modal-close.uk-close:hover {opacity: 1;}
form input[type=text]::-webkit-input-placeholder,
form textarea::-webkit-input-placeholder {
    color: #999;
    font-size: 14px;
}
form input[type=text]::-moz-placeholder,
form textarea::-moz-placeholder {
    color: #999;
    font-size: 14px;
}
form input[type=text]:-ms-input-placeholder,
form textarea:-ms-input-placeholder {
    color: #999;
    font-size: 14px;
}
form input[type=text]:-moz-placeholder,
form textarea:-moz-placeholder {
    color: #999;
    font-size: 14px;
}
form input[type=checkbox]:not(:disabled),
form input[type=radio]:not(:disabled) {
    cursor: pointer;
    vertical-align: middle;
    margin: 0 5px 0 0;
}
label {cursor: pointer;}

.logo {margin: 0;}
.logo a {
    margin: 0;
    padding: 0;
}
.banner p {margin: 0;}
.banner a {display: block;}

.slidenav-skin1 .uk-slidenav {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border-style: solid;border-color: #fff;
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}
.slidenav-skin1 .uk-slidenav:before {content:''}
.slidenav-skin1 .uk-slidenav-previous {border-width: 0px 0px 2px 2px;}
.slidenav-skin1 .uk-slidenav-next {border-width: 2px 2px 0px 0px}
.uk-modal-dialog-lightbox .uk-slidenav {
    height: 100%;
    width: 35%;
    top: 0;
    z-index: 1;
    -webkit-transform: translate(0, 0%);
    -moz-transform: translate(0, 0%);
    -ms-transform: translate(0, 0%);
    -o-transform: translate(0, 0%);
    transform: translate(0, 0%);
}
.uk-modal-dialog-lightbox .uk-slidenav:before {
    display: inline-block;
    width: 30px;height: 30px;
    border-radius: 50%;
    line-height: 30px;text-align: center;
    font-size: 24px;
    background: rgba(0, 0, 0, .7);
    margin: 0;
    position: absolute;
    top: 50%;left: 10px;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}
.uk-modal-dialog-lightbox .uk-slidenav-previous  {left: 0px;}
.uk-modal-dialog-lightbox .uk-slidenav-next {right: 0px;}
.uk-modal-dialog-lightbox .uk-slidenav-next:before {left: initial;right: 10px;}
#goTop {
    position: fixed;
    z-index: 9999;
    right: 30px;
    clip: rect(auto, auto, auto, auto);
    text-indent: -9999px;
    display: block;
    width: 45px;height: 45px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: 45px;
    background-size: 45px;
    background-image: url("../images/toTop.png");
}
@media (max-width: 1220px) {
    #goTop {right: 5px;}
}
/* </reset.css> */