/*
CSS Credit: http://www.templatemo.com/
*/
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

h3 {
  font-size: 1.17em;
}

body {
  font-family: Roboto;
  color: #333;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
}

body a {
  text-decoration: none;
  transition: all 0.5s ease 0s;
  color: #333;
}

body a:hover {
  text-decoration: none;
}

body img {
  max-width: 100%;
}

body div:after,
ul:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

body {
  background: #000 url("../images/topBg.png") no-repeat center top 35px;
  background-size: 100% auto;
}

body .title {
  font-weight: normal;
  margin: 0;
}

body .title a {
  font-weight: normal;
}

body .itemTitle {
  font-weight: normal;
  margin: 0;
}

body .itemTitle a {
  font-weight: normal;
}

body .pageTitle {
  font-weight: normal;
  margin: 0;
}

body .pageTitle1 {
  font-weight: normal;
  margin: 0;
}

body .pageTitle2 {
  font-weight: normal;
  margin: 0;
}

body .pageTitle3 {
  font-weight: normal;
  margin: 0;
}

body .pageTitle4 {
  font-weight: normal;
  margin: 0;
}

body .pageTitle5 {
  font-weight: normal;
  margin: 0;
}

.container {
  max-width: 1200px;
}

.headerContent {
  background-color: #1b1f2a;
}

.topBox {
  border-bottom: 1px solid #2b3142;
  padding: 8px 0;
}

.topBox .hotline {
  float: left;
  color: #fff;
  font: 500 15px/24px Roboto;
}

.topBox .hotline:hover {
  color: #e4b35a;
}

.topBox .hotline i {
  margin-right: 5px;
}

.topBox .topRight {
  float: right;
}

.topBox .searchBox {
  float: left;
  margin-right: 20px;
  position: relative;
}

.topBox .searchBox .iconSearch {
  color: #fff;
  font-size: 15px;
  margin-top: 2px;
  display: inline-block;
  cursor: pointer;
}

.topBox .searchBox input {
  height: 34px;
  line-height: 34px;
  padding: 0;
  border: none;
  background: #fff;
  border-radius: 4px;
  position: absolute;
  right: 20px;
  top: -5px;
  width: 0;
  z-index: 9;
  transition: 0.5s;
  overflow: hidden;
  font-size: 15px;
}

.topBox .searchBox .btnSearch {
  width: 0;
  height: 15px;
  display: block;
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 0;
  z-index: 20;
  opacity: 0;
  font-size: 15px;
}

.loginRegister {
  float: left;
  position: relative;
  z-index: 1111;
}

.loginRegister a {
  /*padding: 0 8px;*/
  color: #fff;
}

.loginRegister a i {
  margin-right: 5px;
}

.loginRegister .login {
  border-right: 1px solid #000;
  float: left;
  color: #fff;
  font: 15px/24px Roboto;
}

.loginRegister .register {
  float: left;
  color: #fff;
  font: 15px/24px Roboto;
  border-left: 1px solid #363e54;
  padding-right: 0;
}

.go_Cart {
  float: left;
  width: 24px;
  height: 24px;
  background: url("/img/cart.png") no-repeat center;
  background-size: 22px;
  margin: 0 20px 0 5px;
  position: relative;
  color: white;
}

.go_Cart span {
  font: 700 11px Roboto;
  display: block;
  position: absolute;
  top: -5px;
  right: -5px;
  width: 15px;
  height: 15px;
  background-color: red;
  text-align: center;
  line-height: 15px;
  border-radius: 50%;
}

.headerBox {
  padding: 12px 0 0;
}

.headerBox .logo {
  float: left;
  height: 80px;
}

.headerBox .logo img {
  height: 95px;
  margin-top: -11px;
}

.headerBox .header_right {
  position: relative;
  z-index: 50;
}

.menuBox {
  float: right;
  margin-top: 27px;
}

.menu_res_btn {
  display: none;
}

.menuMain {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
}

.menuMain > li {
  float: left;
  position: relative;
  margin-right: 25px;
  padding-bottom: 37px;
}

.menuMain > li > a {
  color: #fff;
  font: 500 15px/22px Roboto;
  text-transform: uppercase;
}

.menuMain > li > a.active {
  color: #e4b35a;
}

.menuMain > li > a:hover {
  color: #e4b35a;
}

.menuMain > li.active > a {
  color: #e4b35a;
}

.menuMain > li:hover > a {
  color: #e4b35a;
}

.menuMain > li:hover > .subMenu {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  pointer-events: auto;
  transition: 0.5s;
}

.menuMain > li.megaMenu {
  position: static;
}

.menuMain > li > .openSub {
  display: none;
}

.menuMain > li:last-child {
  margin-right: 0;
}

.menuMain .subMenu {
  margin: 0;
  list-style: none;
  position: absolute;
  top: 100%;
  left: -20px;
  z-index: 9;
  padding: 0;
  min-width: 220px;
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  pointer-events: none;
  transition: 0.5s;
}

.menuMain .subMenu > li {
  position: relative;
}

.menuMain .subMenu > li > a {
  font: 15px/22px Roboto;
  color: #fff;
  padding: 8px 20px 8px 20px;
  border-bottom: 1px solid #363a4e;
  display: block;
  background: #2c3040;
}

.menuMain .subMenu > li:hover > a {
  background: #484f68;
}

.menuMain .subMenu > li.active > a {
  background: #484f68;
}

.megaMenu {
  position: static;
}

.megaMenu .subMenu1 {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background: #2c3040;
  z-index: 9;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  transition: 0.5s;
}

.megaMenu .subMenu1 > li {
  display: inline-block;
  position: static;
  vertical-align: top;
}

.megaMenu .subMenu1 > li.top {
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: 50px;
  left: 0;
}

.megaMenu .subMenu1 > li > a {
  font: 700 14px/50px Roboto;
  color: #fff;
  text-transform: uppercase;
  display: block;
  padding: 0 30px;
  height: 50px;
}

.megaMenu .subMenu1 > li:hover .subMenu2 {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.megaMenu .subMenu2 {
  border-top: 2px solid #484f68;
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  background: #2c3040;
  z-index: 9;
  font-size: 0;
  padding: 10px 10px 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  transition: 0.5s;
  text-align: left;
}

.megaMenu .subMenu2 li {
  display: inline-block;
  width: calc((100% - 75px)/6);
  margin-right: 15px;
  vertical-align: top;
  padding: 7px 0;
  line-height: 0;
}

.megaMenu .subMenu2 li a {
  font: 14px/22px Roboto;
  color: #abaebc;
}

.megaMenu .subMenu2 li a:hover {
  color: #e4b35a;
}

.megaMenu .subMenu2 li .active a {
  color: #e4b35a;
}

.megaMenu .subMenu2 li:nth-child(6n) {
  margin-right: 0;
}

.megaMenu .subMenu2 li:nth-child(6) ~ li {
  border-top: 1px solid #363a4e;
}

.megaMenu:hover > .subMenu1 {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.footerBox {
  background-color: #1b1f2a;
  padding: 33px 0 30px;
  border-top: 1px solid #232836;
  position: relative;
  z-index: 11;
}

.footerBox .col {
  padding: 0;
}

.footerBox .col1 {
  float: left;
  width: 285px;
  margin-right: 40px;
}

.footerBox .title {
  font: 700 20px/28px Roboto;
  color: #fff;
  margin-bottom: 17px;
}

.footerBox .contactInfo ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footerBox .contactInfo li {
  font: 14px/24px Roboto;
  color: #c2c2c2;
}

.footerBox .contactInfo li:nth-child(1) ~ li {
  margin-top: 5px;
}

.footerBox .contactInfo a {
  font: 14px/24px Roboto;
  color: #c2c2c2;
}

.footerBox .contactInfo i {
  margin-right: 8px;
}

.footerBox .socialFooter ul {
  float: left;
  margin: 15px 0 0;
  padding: 0;
  list-style: none;
}

.footerBox .socialFooter ul li {
  float: left;
  margin-right: 5px;
  height: 30px;
}

.footerBox .socialFooter img {
  height: 30px;
}

.footerBox .footerMenu {
  float: left;
  width: calc((100% - 285px - 320px - 130px)/2);
  margin-right: 30px;
}

.footerBox .footerMenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-right: 20px;
}

.footerBox .footerMenu ul li {
  border-bottom: 1px solid #232836;
  padding: 7px 0 5px;
}

.footerBox .footerMenu ul li:first-child {
  padding-top: 0;
}

.footerBox .footerMenu a {
  font: 14px/21px Roboto;
  color: #c2c2c2;
}

.footerBox .footerMenu a:hover {
  color: #e4b35a;
}

.footerBox .footerMenu i {
  margin-right: 8px;
}

.footerBox .col4 {
  float: right;
  width: 320px;
}

.bottomBox {
  background-color: #1b1f2a;
  position: relative;
  z-index: 11;
}

.bottomBox .container {
  border-top: 1px solid #232836;
  padding: 10px 0;
}

.bottomBox .text {
  font: 14px/24px Roboto;
  color: #c2c2c2;
  float: left;
  margin-right: 5px;
}

.bottomBox .link {
  font: 14px/24px Roboto;
  color: #c2c2c2;
  float: left;
}

.bottomBox .link a {
  font: 14px/24px Roboto;
  color: #c2c2c2;
}

.bottomBox .link a:hover {
  color: #e4b35a;
}

.slideBox {
  overflow: hidden;
  position: relative;
  margin-top: 30px;
  min-height: 42px;
}

.breadCrumbBox {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 9px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 6;
  width: 100%;
}

.breadCrumbBox .title {
  font: 700 18px/24px Roboto;
  color: #fff;
  float: left;
  text-transform: uppercase;
}

.breadCrumbBox ul {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}

.breadCrumbBox li {
  float: left;
}

.breadCrumbBox li.active a {
  color: #e4b35a;
}

.breadCrumbBox li.active a:after {
  content: none;
}

.breadCrumbBox a {
  font: 12px/24px Roboto;
  text-transform: uppercase;
  color: #fff;
}

.breadCrumbBox a:after {
  content: "/";
  visibility: visible;
  padding: 0 10px;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  display: inline-block;
  color: #fff;
}

.breadCrumbBox a:hover {
  color: #e4b35a;
}

.breadCrumbBox a.active {
  color: #e4b35a;
}

.slideBox {
  overflow: hidden;
  position: relative;
  margin-top: 30px;
  min-height: 42px;
}

.slideBox img {
  display: block;
}

.slideBox .khungAnh:before {
  padding-bottom: 26.83760684%;
}

.slideBox.slideHome .khungAnh:before {
  padding-bottom: 34.18803419%;
}

.slideBox .slick-arrow {
  position: absolute;
  z-index: 5;
  width: 50px;
  height: 50px;
  border: none;
  top: calc(50% - 25px);
  outline: 0;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 24px;
  background-image: none;
}

.slideBox .slick-arrow:hover {
  background-color: #e4b35a;
}

.slideBox .slick-arrow.slick-prev {
  left: 20px;
}

.slideBox .slick-arrow.slick-next {
  right: 20px;
}

.khungAnh {
  position: relative;
  z-index: 1;
}

.khungAnh:before {
  content: "";
  display: block;
  padding-bottom: calc(56.25%);
}

.khungAnh .khungAnhCrop img {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.khungAnh .khungAnhCrop0 img {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.khungAnhCrop0 {
  display: inline-block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1;
}

.khungAnhCrop0 img {
  left: 50%;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.khungAnhCrop {
  display: inline-block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1;
}

.khungAnhCrop img {
  left: 50%;
  max-height: 150%;
  max-width: 150%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.khungAnhCrop img.tall {
  max-height: none;
  width: 100%;
}

.khungAnhCrop img.wide {
  height: 100%;
  max-width: none;
}

.main-home {
  padding: 30px 0 60px;
}

.newsHome {
  margin-top: 40px;
}

.newsHome .groupItem {
  background-color: #1b1f2a;
  padding: 22px 20px;
}

.newsHome .title {
  background: #141821;
  padding: 0 20px;
}

.newsHome .title a {
  font: 700 16px/22px Roboto;
  color: #fff;
  padding: 11px 0;
  text-transform: uppercase;
  display: inline-block;
}

.newsHome .item {
  padding: 0 8px;
  vertical-align: top;
}

.newsHome .itemTitle {
  margin: 10px 0 7px 0;
  line-height: 22px;
  max-height: 44px;
  height: 44px;
  overflow: hidden;
}

.newsHome .itemTitle a {
  font: 700 16px/22px Roboto;
  color: #fff;
}

.newsHome .itemTime {
  font: 14px/22px Roboto;
  color: #999;
  margin-right: 15px;
}

.newsHome .itemView {
  font: 14px/22px Roboto;
  color: #999;
}

.newsHome .itemDescription {
  font: 14px/22px Roboto;
  color: #cdcdcd;
  margin-top: 5px;
  max-height: 66px;
  overflow: hidden;
  font-style: italic;
}

.newsHome .khungAnh:before {
  padding-bottom: 66.66666667%;
}

/* .productDS {
  margin-top: 30px;
} */

.productDS .container {
  position: relative;
}

.productDS .box {
  background-color: #1b1f2a;
  min-height: 450px;
}

.productDS .title {
  background: #141821;
  padding: 0 20px;
}

.productDS .title a {
  font: 700 16px/22px Roboto;
  color: #fff;
  padding: 11px 0;
  text-transform: uppercase;
  display: inline-block;
}

.productDS .khungAnh {
  margin: 0 -10px;
}

.productDS .khungAnh:before {
  padding-bottom: 66.83168317%;
}

.productDS .itemTitle {
  margin: 10px 0 7px 0;
  line-height: 22px;
  max-height: 44px;
  height: 44px;
  overflow: hidden;
  text-align: center;
}

.productDS .itemTitle a {
  font: 14px/22px Roboto;
  color: #fff;
}

.productDS .itemPrice {
  font: 12px/26px Roboto;
  color: #b7bbcb;
  margin-top: 5px;
  text-align: center;
}

.productDS .itemPrice span {
  color: #51ff1dd6;
  font-weight: 700;
  font-size: 12px;
}

.productDS .itemPrice span.old_price {
  text-decoration: line-through;
  color: red !important;
}

.productDS .groupItem {
  padding: 22px 20px;
  background-color: #1b1f2a;
  position: relative;
}

.productDS.productNewHome .box {
  display: flex;
  flex-wrap: wrap;
}

.productDS.productNewHome .colLeft {
  float: left;
  width: 37.60683761%;
  margin: 22px 0 0 20px;
  min-height: 20px;
  flex: 0 0 37.60683761%;
  max-width: 37.60683761%;
  padding-bottom: 22px;
  position: relative;
}

.productDS.productNewHome .colLeft .content {
  position: absolute;
  width: 100%;
  height: calc(100% - 22px);
  top: 0;
  left: 0;
  background-color: #2c3040;
  padding: 15px 25px;
}

.productDS.productNewHome .colLeft .khungAnh {
  margin: 0 -10px;
}

.productDS.productNewHome .colLeft .khungAnh:before {
  padding-bottom: 66.83168317%;
}

.productDS.productNewHome .colLeft .khungAnh img.tall {
  width: auto;
  height: 100%;
}

.productDS.productNewHome .colLeft .itemTitle {
  margin: 15px 0 7px 0;
  line-height: 24px;
  height: auto;
}

.productDS.productNewHome .colLeft .itemTitle a {
  font: 19px/24px Roboto;
}

.productDS.productNewHome .colLeft .itemDescription {
  color: #999;
  margin-top: 10px;
  word-break: break-word;
}

.productDS.productNewHome .colLeft .itemPrice {
  color: #fff;
}

.productDS.productNewHome .colLeft .itemPrice span {
  color: #51ff1dd6;
  font-size: 16px;
}

.productDS.productNewHome .groupItem {
  width: calc(100% - 440/1170*100% - 20px);
  float: left;
  flex: 0 0 calc(100% - 440/1170*100% - 20px);
  max-width: calc(100% - 440/1170*100% - 20px);
}

.productDS .item {
  padding: 0 10px;
  vertical-align: top;
}

.productDS .itemBox {
  float: left;
  margin-right: 20px;
  width: calc((100% - 80px)/5);
  padding: 5px 15px 15px 15px;
  background-color: #2c3040;
  position: relative;
}

.productDS .itemBox.itemBox:nth-child(5n) {
  margin-right: 0;
}

.productDS .itemBox:nth-child(5) ~ .itemBox {
  margin-top: 20px;
}

.productDS .slick-list {
  margin: 0 -10px;
  overflow: hidden;
}

.productDS .slick-list .itemBox:nth-child(n) {
  width: 100%;
  margin-right: 0;
  margin-top: 0;
}

.productDS .slick-slide > div:nth-child(2) {
  margin-top: 20px;
}

.productDS .slick-arrow {
  position: absolute;
  z-index: 5;
  border: none;
  top: -31px;
  outline: 0;
  cursor: pointer;
  color: #8a8c90;
  font-size: 19px;
  background: none;
  padding: 0;
}

.productDS .slick-arrow:before {
  font-family: FontAwesome;
}

.productDS .slick-arrow:hover {
  color: #e4b35a;
}

.productDS .slick-prev {
  right: 40px;
}

.productDS .slick-next {
  right: 20px;
}

.productDS .nav-tabs {
  margin: 0;
  padding: 0 20px;
  list-style: none;
  background: #141821;
  border-bottom: none;
}

.productDS .nav-tabs .nav-link {
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: table;
  padding: 12px 28px;
  border-top: 2px solid transparent;
  color: #fff;
}

.productDS .nav-tabs .nav-link.active {
  border-top: 2px solid #e4b35a;
  color: #e4b35a;
  background-color: #1b1f2a;
}

.productDS .nav-tabs .nav-link:hover {
  border-top: 2px solid #e4b35a;
  color: #e4b35a;
  background-color: #1b1f2a;
}

.productDS .nav-tabs .nav-link img {
  float: left;
  max-height: 20px;
  margin-right: 8px;
}

.productDS .nav-tabs .nav-link span {
  font: 700 16px/20px Roboto;
  text-transform: uppercase;
  float: left;
}

.productDS.productCateHome .groupItem .more {
  font: 14px/36px Roboto;
  color: #fff;
  opacity: 0.5;
  position: absolute;
  right: 20px;
  top: -43px;
  text-decoration: none;
  text-decoration: underline;
}

.productDS.productCateHome .groupItem .more:hover {
  color: #e4b35a;
  opacity: 1;
}

.slide-newproduct {
  width: calc(100% - 440/1170*100% - 20px);
  float: left;
  flex: 0 0 calc(100% - 440/1170*100% - 20px);
  max-width: calc(100% - 440/1170*100% - 20px);
  padding: 22px 20px;
}

@media (min-width: 1300px) {
  .container {
    width: 1200px;
  }
}

@media (max-width: 1199px) {
  .productDS .itemBox:nth-child(n) {
    width: calc((100% - 40px)/3);
    margin-right: 20px;
    margin-top: 0;
  }

  .productDS .itemBox:nth-child(3n) {
    margin-right: 0;
  }

  .productDS .itemBox:nth-child(3) ~ .itemBox {
    margin-top: 20px;
  }
}

.login-button, .register-button{
  color: #ffda95;
  text-decoration: underline;
}

.login-button:hover, .register-button:hover{
  text-decoration: underline;
  color: #e4b35a;
}

/* custom show msg error */
.wrap_msg_alert .alert-error{
  color: #f3d9d9;
  background-color: #ef7a40bd;
  border-color: #988b62;
}

.itemBox .btnClick {
  text-align: center;
  margin-top: 20px;
}
.itemBox .btnClick a {
  background: #666;
  padding: 10px 10px;
  border-radius: 3px;
  font-size: 12px;
  height: 28px;
  color: #fff !important;
  vertical-align: top;
}
.itemBox .btnClick a:hover {
  background: #b6fd8d82;
}

.old_price {
  text-decoration: line-through;
  color: red !important;
}

.itemBox img:hover {
  transform: scale(1.4) !important;
  top: 0% !important;
  left: 0% !important;
}

.close_msg{
  cursor:pointer;
  position: absolute;
  right: 20px;
  z-index: 55;
}
.msg_add_cart{
  margin: 0 auto;
  margin-bottom:10px;
  width: 1170px;
}
.msg_add_cart.active{
  display:block!important;
}

.SplitPages {
  font-size: 0;
  margin: 0 15px 30px;
  text-align: right;
}
.SplitPages a:first-child {
  border-radius: 3px 0 0 3px;
}
.SplitPages a {
  display: inline-block;
  background-color: none;
  color: #fff;
  font-size: 13px;
  line-height: 34px;
  height: 34px;
  min-width: 34px;
  padding: 0 10px;
  text-align: center;
  margin-right: -1px;
  border: 1px solid #666;
}
.SplitPages a:hover, .SplitPages a.hientai {
  background-color: #e4b35a;
  color: #fff;
  border-color: #e4b35a;
}

.homepage-line{
  min-height: 650px;
}

.out_of_stock{
  background: red!important;
}

.accountPage .save:hover{
  background: #b6fd8d82;
}



/* filter by hero */

.search-left {
        width: 290px;
        float: left;
        margin-right: 10px;
        border-top: 2px solid #1b1f2a;
        background: #141821;
    }

    a.fist-filter {
        text-decoration: none;
        color: #afb0b2;
    }

    .filter-cat-group {
        background: #232836;
        overflow: hidden;
        margin-bottom: 1px;
        display: flex;
    }

    .filter-cat-title {
        color: #e4b35a;
    }

    .filter-cat-title-left {
        width: 75px;
        float: left;
        padding: 15px 0 15px 10px;
    }

    .filter-cat-content-right {
        width: 215px;
        float: left;
        background: #1b1f2a;
        padding: 15px 0 15px 15px;
    }

    .glyphicon {
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .filter-cat-content-right a {
        padding: 0 5px;
        line-height: 22px;
        margin-right: 5px;
        margin-bottom: 5px;
        white-space: nowrap;
        display: inline-block;
    }
    .filter-cat-content-right a:hover {
        color: #e4b35a;
    }
    .text-normal.active, .border-normal {
        border: 1px solid #b2b2b2 !important;
    }
    .rarity-common {
        padding-left: 2px;
        padding-bottom: 2px;
        color: rgb(176, 195, 217);
    }
    .rarity-rare {
        padding-left: 2px;
        padding-bottom: 2px;
        color: rgb(75, 105, 255);
    }
    .rarity-mythical {
        padding-left: 2px;
        padding-bottom: 2px;
        color: rgb(136, 71, 255);
    }
    .rarity-immortal {
        padding-left: 2px;
        padding-bottom: 2px;
        color: #e4ae39;
    }
    .rarity-ancient {
        padding-left: 2px;
        padding-bottom: 2px;
        color: rgb(235, 75, 75);
    }
    .rarity-legendary {
        padding-left: 2px;
        padding-bottom: 2px;
        color: rgb(211, 44, 230);
    }
    .rarity-arcana {
        padding-left: 2px;
        padding-bottom: 2px;
        color: #ADE55C;
    }
    .rarity-uncommon  {
        padding-left: 2px;
        padding-bottom: 2px;
        color: #AFB0B2;
    }
    .text-blue {
        color: #4C8ED9;
    }

    .text-gray {
        color: #666;
    }

    .text-hover:hover {
        color: #e4b35a;
    }

    .text-left {
        text-align: left !important;
    }

    .text-right {
        text-align: right !important;
    }

    .text-normal {
        color: #B2B2B2
    }
    .text-unusual_strange{
        color:rgb(134, 80, 172)
    }

    .text-genuine {
        color: #4d7455
    }

    .text-vintage {
        color: #476291
    }

    .text-unusual {
        color: #8650AC
    }

    .text-unique {
        color: #d2d2d2
    }

    .text-community {
        color: #70B04A
    }

    .text-developer {
        color: #A50F79
    }

    .text-selfmade {
        color: #70B04A
    }

    .text-customized {
        color: #476291
    }

    .text-strange {
        color: #cf6a32
    }

    .text-completed {
        color: #b2b2b2
    }

    .text-haunted {
        color: rgb(134, 80, 172)
    }

    .text-tournament {
        color: rgb(255, 215, 0)
    }

    .text-favored {
        color: #FF0
    }

    .text-ascendant {
        color: #EB4B4B
    }

    .text-autographed {
        color: #ADE55C
    }

    .text-legacy {
        color: #fff
    }

    .text-exalted {
        color: #d1d1d1
    }

    .text-frozen {
        color: #4682b4
    }

    .text-corrupted {
        color: #A32C2E
    }

    .text-lucky {
        color: #32cd32
    }

    .text-infused{
        color: rgb(136, 71, 255)
    }

    .text-normal.active, .border-normal {
        border: 1px solid #b2b2b2 !important;
    }
    .text-unusual_strange.active{
        border: 1px solid rgb(134, 80, 172) !important;
    }
    .text-genuine.active, .border-genuine {
        border: 1px solid #4d7455 !important;
    }

    .text-vintage.active, .border-vintage {
        border: 1px solid #476291 !important;
    }

    .text-unusual.active, .border-unusual {
        border: 1px solid #8650AC !important;
    }

    .text-unique.active, .border-unique {
        border: 1px solid #d2d2d2 !important;
    }

    .text-community.active, .border-community {
        border: 1px solid #70B04A !important;
    }

    .text-developer.active, .border-developer {
        border: 1px solid #A50F79 !important;
    }

    .text-selfmade.active, .border-selfmade {
        border: 1px solid #70B04A !important;
    }

    .text-customized.active, .border-customized {
        border: 1px solid #476291 !important;
    }

    .text-strange.active, .border-strange {
        border: 1px solid #cf6a32 !important;
    }

    .text-completed.active, .border-completed {
        border: 1px solid #b2b2b2 !important;
    }

    .text-haunted.active, .border-haunted {
        border: 1px solid rgb(134, 80, 172) !important;
    }

    .text-tournament.active, .border-tournament {
        border: 1px solid rgb(255, 215, 0) !important;
    }

    .text-favored.active, .border-favored {
        border: 1px solid #FF0 !important;
    }

    .text-ascendant.active, .border-ascendant {
        border: 1px solid #EB4B4B !important;
    }

    .text-autographed.active, .border-autographed {
        border: 1px solid #ADE55C !important;
    }

    .text-legacy.active, .border-legacy {
        border: 1px solid #fff !important;
    }

    .text-exalted.active, .border-exalted {
        border: 1px solid #d1d1d1 !important;
    }

    .text-frozen.active, .border-frozen {
        border: 1px solid #4682b4 !important;
    }

    .text-corrupted.active, .border-corrupted {
        border: 1px solid #A32C2E !important;
    }

    .text-lucky.active, .border-lucky {
        border: 1px solid #32cd32 !important;
    }

    .text-infused.active, .border-infused {
        border: 1px solid rgb(136, 71, 255) !important;
    }

    .filter-cat-group-image {
        background: #232836;
        overflow: hidden;
        margin-bottom: 1px;
    }
    .filter-cat-title-top {
        padding-left: 15px;
        line-height: 34px;
    }
    .filter-cat-content {
        background: #1b1f2a;
        padding: 20px 19px;
        overflow: hidden;
    }
    .filter-hero {
        width: 62px;
        height: 35px;
        margin: 0 1px 1px 0;
        position: relative;
        cursor: pointer;
        float: left;
    }
    .filter-hero .mask {
        width: 62px;
        height: 35px;
        position: absolute;
        background-color: black;
        opacity: 0.5;
        filter: alpha(opacity=50);
    }

    .filter-hero .mask.choose, .filter-hero:hover .mask {
        opacity: 1;
        filter: alpha(opacity=100);
        background-color: transparent;
        border: 1px solid white;
    }
    
    .sideBar {
		background-color: #1b1f2a;
		padding: 20px 20px 30px;
		width: 280px;
		margin-right: 20px;
		float: left;
		min-height: 20px;
	}
	.masterPage {
		padding: 0 15px 60px 15px;
	}
	.masterMain {
		background-color: #1b1f2a;
		padding: 20px;
		width: 870px;
		float: left;
	}
	.pageTitle1 {
		font: 22px/32px RobotoBold;
		color: #e4b35a;
		text-transform: uppercase;
	}

	.productPage .filter {
		border-bottom: 1px solid #333b50;
		padding-bottom: 12px;
		margin-top: 25px;
	}
	.productPage .filter span {
		float: left;
		font: 14px/36px Roboto;
		color: #fff;
		display: inline-block;
		margin-right: 20px;
	}
	.productPage .filter ul {
		margin: 0;
		padding: 0;
		list-style: none;
		float: left;
	}
	.productPage .filter li {
		float: left;
		margin-right: 5px;
	}
	.productPage .filter li a:hover, .productPage .filter li.active a, .productPage .filter li a.active {
		color: #333;
		background-color: #e4b35a;
	}
	.productPage .filter li a {
		font: 12px/36px RobotoBold;
		color: #fff;
		text-transform: uppercase;
		height: 36px;
		background-color: #141720;
		padding: 0 10px;
		display: block;
	}
	.filter li.active a{
		color: #333 !important;
		background-color: #e4b35a !important;
	}
	.productPage .filter li a {
		 font-size: 0 !Important;
		 padding: 0 20px !important;
		 position: relative;
	}
	.productPage .filter ul li a.asc:before {
		border-top: none;
		border-bottom: 10px solid white;
	}
	.productPage .filter li a:before {
		content: "";
		display: block;
		position: absolute;
		border-top: 10px solid white;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		top: 15px;
		left: 10px;
	}
	

	.productPage .filter .searchBox {
		position: relative;
		float: right;
		width: 255px;
	}
	.productPage .filter .searchBox input {
		font: 12px/36px Roboto;
		color: #fff;
		height: 36px;
		background-color: #141720;
		padding-right: 30px;
		border: 1px solid #333b50;
		font-style: italic;
		width: 100%;
	}
	.productPage .filter .searchBox a {
		position: absolute;
		right: 1px;
		top: 1px;
		width: 34px;
		height: 34px;
		text-align: center;
		line-height: 34px;
		color: #888;
	}

	.productPage .productDS {
		margin-top: 25px;
	}
	.productDS.productPage .groupItem {
		padding: 0 0 40px;
	}
	.productDS.productPage .itemBox:nth-child(n) {
		width: calc((100% - 60px)/4);
		margin-right: 20px;
	}
	.productDS.productPage .itemBox:nth-child(4n) {
		margin-right: 0;
	}
	.productDS .itemBox {
		float: left;
		margin-right: 20px;
		width: calc((100% - 80px)/5);
		padding: 5px 15px 15px 15px;
		background-color: #2c3040;
		position: relative;
	}
	.productDS .khungAnh {
		margin: 0 -10px;
	}
	.productDS .itemTitle {
		margin: 10px 0 7px 0;
		line-height: 22px;
		max-height: 44px;
		overflow: hidden;
		text-align: center;
	}
	.productDS .itemTitle a {
		font: 14px/22px Roboto;
		color: #fff;
	}
	.productDS .itemTitle a:hover {
		color: #e4b35a;
	}
	.productDS .itemPrice {
		font: 14px/26px Roboto;
		color: #b7bbcb;
		margin-top: 5px;
		text-align: center;
	}
	.productDS .itemPrice span {
		/*color: #e4b35a;*/
		/*font-family: RobotoBold;*/
	}
	.productDS .toolTip {
		position: absolute;
		left: 100%;
		top: 50%;
		width: 475px;
		opacity: 0;
		pointer-events: none;
		z-index: 99;
	}
	.productDS .itemBox:hover .toolTip {
		pointer-events: auto;
		opacity: 1;
	}
	.productDS.productPage .itemBox:nth-child(n) .toolTip .content {
		float: right;
	}
	.productDS.productPage .itemBox:nth-child(n) .toolTip {
		left: 100%;
		top: 50%;
	}
	.productDS.productPage .itemBox:nth-child(4n) .toolTip {
		left: auto;
		right: 100%;
	}
	.productDS.productPage .itemBox:nth-child(4n+3) .toolTip {
		left: auto;
		right: 100%;
	}

	.productDS.productPage .itemBox:nth-child(4)~.itemBox {
		margin-top: 20px;
	}

	.productDS.productPage .itemBox:nth-child(n) .toolTip .content {
		float: right;
	}
	.productDS .toolTip .content {
		background: #5d637d;
		border: 5px solid #242835;
		padding: 15px 20px 20px;
		width: 465px;
		float: right;
	}
	.productDS .toolTip .title1 {
		font: 18px/22px RobotoBold;
		color: #fff;
		text-align: center;
		margin-bottom: 12px;
	}
	.productDS .toolTip ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.productDS .toolTip li {
		width: 100%;
		display: table;
		font: 14px/21px Roboto;
		color: #fff;
		border-bottom: 1px solid #494e63;
		padding: 5px 0;
	}
	.productDS .toolTip li .name {
		float: left;
		width: 145px;
	}
	.productDS .toolTip li .val {
		float: left;
		width: calc(100% - 145px);
	}
	.productDS .toolTip .description {
		font: 14px/21px Roboto;
		color: #fff;
		margin-top: 10px;
	}
	.productDS .toolTip .description span {
		width: 145px;
		display: inline-block;
	}
	.productDS .toolTip .btnClick {
		margin-top: 15px;
		text-align: center;
		font-size: 0;
	}
	.productDS .toolTip .btnClick a {
		display: inline-block;
		margin: 0 5px;
		height: 38px;
		font: 14px/38px RobotoBold;
		text-transform: uppercase;
		color: #fff;
		width: 145px;
		background: #2c3040;
		cursor: pointer;
	}
	.productDS .toolTip .btnClick a:hover {
		background: #e4b35a;
	}

	.SplitPages {
		font-size: 0;
		margin: 0 0 30px;
		text-align: right;
	}
	.SplitPages a:first-child {
		border-radius: 3px 0 0 3px;
	}
	.SplitPages a {
		display: inline-block;
		background-color: none;
		color: #fff;
		font-size: 13px;
		line-height: 34px;
		height: 34px;
		min-width: 34px;
		padding: 0 10px;
		text-align: center;
		margin-right: -1px;
		border: 1px solid #666;
	}
	.SplitPages a:hover, .SplitPages a.hientai {
		background-color: #e4b35a;
		color: #fff;
		border-color: #e4b35a;
	}

	.itemBox img:hover {
		transform: scale(1.4) !important;
		top: 0% !important;
		left: 0% !important;
	}
    
